.column {
    display: flex;
    flex-direction: column;

    width: 20rem;

    align-self: flex-start;

    padding: 2rem 1.5rem;
    background: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: 3px 3px 3px 1px rgba(128, 128, 128, 0.25);
    margin-right: 2rem;
}

.column__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 2.5rem;
}

.column__header i:first-child {
    color: var(--color-grey-dark);
    font-size: 7.5px;
    margin-right: 7.5px;
}

.column__header h4 {
    margin: 0;
    font-weight: 600;
}

.column__header i:last-child {
    padding: 5px;
    color: var(--color-grey-dark);
    font-size: 1rem;
    cursor: pointer;

    &:hover {
        color: var(--color-black);
    }
}

.column__title {
    display: flex;
    align-items: center;

    width: 100%;
}

.column__title h4 {
    width: 100%;

    padding: 5px 1rem;
    border: 0.25px solid transparent;
    cursor: pointer;
}

.column__dropdown {
    position: relative;
}

.column__card-list {
    background-color: #f3f3f3;
}

.column__add {
    text-align: center;
    color: var(--color-grey-dark);
    cursor: pointer;

    &:hover {
        color: var(--color-black);
    }
}
