:root {
    --color-white: #fff;
    --color-grey: #d3d3d3;
    --color-grey-dark: #afaeae;
    --color-grey-light: #f1f1f1;
    --color-black: #292929;

    --color-yellow: #fed64d;
    --color-yellow-dark: #aa8200;

    --color-red: #fb617f;
    --color-red-dark: #e43256;

    --color-blue: #4860ff;
    --color-blue-dark: #273ed1;

    --border-radius: 3px;
    --box-shadow: 3px 3px 3px 1px rgba(128, 128, 128, 0.25);
}
