.card__background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.25);
    cursor: auto;
}

.card__body {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%) translateY(-25%);
    z-index: 1001;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr repeat(2, 2fr);
    grid-template-areas:
        'title menu'
        'labels menu'
        'description menu'
        'comments menu';
    gap: 2.5rem 1.5rem;

    width: 50rem;

    padding: 2.5rem;
    background: var(--color-white);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    cursor: auto;
}

.card__icon {
    flex: 0 0 3.5rem;

    margin-top: 3px;
}

.card__icon--labels {
    margin-top: 4px;
}

// title
.card__title {
    display: flex;

    grid-area: title;
}

.card h3 {
    margin: 0 0 5px 0;
}

.card p {
    margin: 0;
}

// labels
.card__labels {
    display: flex;

    grid-area: labels;
}

// description
.card__description {
    display: flex;

    grid-area: description;
}

// comments
.card__comments {
    display: flex;

    grid-area: comments;
}

// side menu
.card__side-menu {
    grid-area: menu;

    padding-top: 2.5rem;
}
