.labels {
    display: flex;
}

.labels__label {
    width: 3.5rem;
    height: 3.5rem;

    border-radius: var(--border-radius);
    margin-right: 7.5px;
}

.labels__add {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 3.5rem;
    height: 3.5rem;

    box-shadow: inset 0 0 0 1px lightgrey;
    border-radius: var(--border-radius);
    color: lightgrey;
    cursor: pointer;
}
