.add-board {
    padding: 4rem;
}

.add-board div {
    margin-bottom: 1.75rem;
}

.add-board h3 {
    margin-top: 0;
}

.add-board button {
    width: 100%;

    padding: 7.5px 5px;
    font-size: 1.4rem;
    color: var(--color-white);
    background-color: var(--color-blue);
    border: none;
    cursor: pointer;

    &:hover {
        background: var(--color-blue-dark);
    }
}
