.menu h4 {
    margin: 0 0 1rem 0;
}

.menu__button {
    display: flex;
    align-items: center;

    font-size: 1.3rem;
    padding: 5px;
    border: 1px solid var(--color-grey);
    border-radius: var(--border-radius);
    cursor: pointer;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    &:hover {
        background-color: var(--color-grey-light);
    }
}

.menu__button i {
    margin-right: 1rem;
}

.menu__button p {
    margin: 2.5px;
}
