.add-card {
    height: 5rem;

    border-radius: var(--border-radius);
    border-color: var(--color-grey-light);
    padding: 5px;
    resize: none;

    &:focus {
        outline: none;
        border-color: var(--color-grey);
    }
}
