.board {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.board__header {
    display: flex;

    margin-bottom: 2.5rem;
}

.board__info h3 {
    margin: 0 0 5px 0;
    font-weight: 500;
}

.board__info p {
    margin: 0;
    font-size: 1.25rem;
}

.board__columns {
    display: flex;
}

.board__add {
    align-self: flex-start;

    width: 20rem;

    padding: 2rem 1.5rem;
    text-align: center;
    background: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: 3px 3px 3px 1px rgba(128, 128, 128, 0.25);
    color: var(--color-grey-dark);
    cursor: pointer;

    &:hover {
        color: var(--color-black);
    }
}
