.notifications-button {
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 0 0 5rem;

    height: 100%;

    margin-right: 1rem;
    cursor: pointer;

    &:hover {
        .notifications-button__bell {
            color: var(--color-black);
        }
    }
}

.notifications-button__bell {
    color: var(--color-grey);
}
