.add-column {
    align-self: flex-start;

    padding: 2rem 1.5rem;
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.add-column input {
    width: 89%;
}

.add-column__add {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 98%;
}

.add-column__add p {
    color: var(--color-grey-dark);
    margin-top: 2.5rem;
    cursor: pointer;

    &:hover {
        color: var(--color-black);
    }
}

.add-column__times {
    color: var(--color-grey-dark);
    cursor: pointer;

    &:hover {
        color: var(--color-black);
    }
}
